.bodyview{
    background-color: #ffdfae;
    color: black;
}

.header{
    flex: 1;
    align-items: center;
}

.logoview{
    /* width & height */
}

.home_logo{
    /* width & height*/
}

.version_label{
    font-size: 0.5em;
    color: grey;
}